@page {
    size: A4 landscape; 
}

.factura {
  table-layout: fixed;
}

.factura > thead {
  border-top: solid 3px #000;
  border-bottom: 3px solid #000;
}

.factura > thead > tr > th:nth-child(2), .factura > tbod > tr > td:nth-child(2) {
  width: 300px;
}

.factura > thead > tr > th:nth-child(n+3) {
  text-align: right;
}

.factura > tbody > tr > td:nth-child(n+3) {
  text-align: right;
}

.factura > tfoot > tr > th, .factura > tfoot > tr > th:nth-child(n+3) {
  font-size: 24px;
  text-align: right;
}


.wrapper {
    height: 97vh;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
      "f1 f2";
  }

  .factura1 {
    
    display: grid;
    grid-area: f1;
    align-self: center;
    justify-self: center;
    border: 1px solid #000;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "infoEmpresa-f fecha-f"
      "infoCliente-f"
      "items-f"
  }


.infoEmpresa-f{
    grid-area: infoEmpresa-f;
    border: 1px solid #000;
    align-self: center;
    justify-self: center;
}

.infoCliente-f{
    grid-area: infoCliente-f;
    border: 1px solid #000;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.items-f{
    grid-area: items-f;
    border: 1px solid #000;
    align-self: center;
    justify-self: center;
    text-align: center;
}