.wrapper {
    height: 97vh;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas:
      "f1 f2";
  }

  .factura1 {
    grid-area: f1;
    align-self: center;
    border: 1px solid #000;
    justify-self: center;

  }

  .factura2 {
    grid-area: f2;
    border: 1px solid #000;
    align-self: center;
    justify-self: center;
  }

/* body {
    height: 595px;
    width: 842px;
    margin-left: auto;
    margin-right: auto;
} */