/* .wrapper {
    height:100vh;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 500px;
    grid-template-areas:
      "f1 f2";
  }

  .factura1 {
    grid-area: f1;
    align-self: center;
    border: 1px solid #000;
    justify-self: center;

  }

  .factura2 {
    grid-area: f2;
    border: 1px solid #000;
    align-self: center;
    justify-self: center;
  } */

  @media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}