.wrapper {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 3fr;
    grid-template-areas:
      "f1 f2";
  }
  
  .item1 {
    grid-area: f1;
    align-self: center;
    justify-self: center;
  }

  .item2 {
    grid-area: f2;
    align-self: center;
    justify-self: center;
  }